@model List<ServicioModelo>
@{
    ViewData["Title"] = "Listar Servicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Listado de servicios
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="MantenedorServicio" class="btn btn-success"><i class="bi bi-plus-circle"></i> Nuevo</a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nivel de Aceite</th>
                    <th>Nivel de Frenos</th>
                    <th>Nivel de Refrigerante</th>
                    <th>Nivel de direccion</th>
                    <th>Repuestos</th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NivelAceite</td>
                        <td>@item.NivelFrenos</td>
                        <td>@item.NivelRefrigerante</td>
                        <td>@item.NivelDireccion</td>
                        <td>@item.Repuestos</td>
                        
                        <td>
                            <a asp-action="Editar" asp-controller="Mantenedor" class="btn btn-primary btn-sm" asp-route-IdServicio="@item.IdServicio">Editar</a>
                            <a asp-action="Eliminar" asp-controller="Mantenedor" class="btn btn-danger btn-sm" asp-route-IdServicio="@item.IdServicio">Eliminar</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


